* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin: 5px 0 10px 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    display: inline-block;
}